{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "New Shop" context "New address page title" %}
     — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    <li>
      <a href="{% url "account:details" %}">
        {% trans "Your profile" context "Edit/new address breadcrumb" %}
      </a>
    </li>
    {% if shop_form.instance.pk %}
      <li>
        <a href=".">
          {% trans "Edit shop" context "Edit address breadcrumb" %}
        </a>
      </li>
    {% else %}
      <li>
        <a href=".">
          {% trans "New shop" context "New address breadcrumb" %}
        </a>
      </li>
    {% endif %}
   </ul>
{% endblock breadcrumb %}

{% block content %}
  <div class="row account__address-edit">
    <div class="col-sm-8 col-lg-6 m-auto">
      <form method="post" novalidate>
        {% csrf_token %}
        <h2 class="text-center">
            {% if shop_form.instance.pk %}
             {% trans "Edit shop" context "Edit address title" %}
            {% else %}
             {% trans "New shop" context "New address title" %}
            {% endif %}
        </h2>
        {% bootstrap_form shop_form %}
        <p class="text-right">
          <button type="submit" class="btn btn-primary narrow">
            {% trans "Save changes" context "Edit/new address primary action" %}
          </button>
        </p>
      </form>
    </div>
  </div>
{% endblock content %}
